fist.jpg
gesture_recognizer.task
gestures.ipynb
hand_front_back.jpg
hand_landmarker.ipynb
hand_landmarker.task
main.py
pointing_up.jpg
poseDetector-I.py
posture.ipynb
raised-open-hand-stockcake.jpg
thumbs_down.jpg
thumbs_up.jpg
victory.jpg
woman_hands.jpg
